* { padding: 0; margin: 0; outline: 0; }

body {
	background: rgb(0, 54, 103) url(../images/login-background.png) left top repeat;
}

body.iframed {
	background: none;
}

.loader	{ position: absolute; left: 50%; top: 50%; margin: -20px -330px; }
.loader .wrap .icon { float: left; border-top-left-radius: 3px; border-bottom-left-radius: 3px; background: #eee; width: 40px; height: 40px; }
.loader .wrap .icon { line-height: 40px; text-align: center; color: #bbb; }
.loader .wrap .icon .fa-refresh { display: none; }
.loader.loading .wrap .icon .fa-refresh { display: inline-block; }
.loader.loading .wrap .icon .fa-globe { display: none; }
.loader .wrap { background: #fff; width: 660px; height: 40px; box-shadow: 0 0 4px rgba(0,0,0,0.4); border-radius: 3px; }
.loader .wrap .url { float: left; width: 490px; height: 30px; background: none; border: 0; padding: 5px 15px; font-size: 18px; color: #444; }
.loader .wrap .submit { float: right; width: 100px; height: 40px; background: red; border: 0; border-top-right-radius: 3px; border-bottom-right-radius: 3px; cursor: pointer; color: #fff; font-size: 18px; }
.loader .wrap .submit {
	background: #499bea;
	background: -moz-linear-gradient(top,  #499bea 0%, #1d5fd1 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#499bea), color-stop(100%,#1d5fd1));
	background: -webkit-linear-gradient(top,  #499bea 0%,#1d5fd1 100%);
	background: -o-linear-gradient(top,  #499bea 0%,#1d5fd1 100%);
	background: -ms-linear-gradient(top,  #499bea 0%,#1d5fd1 100%);
	background: linear-gradient(to bottom,  #499bea 0%,#1d5fd1 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#1d5fd1',GradientType=0 );
}
.loader .previous { display: none; }

/**
 * Main interface
 */
/*.main-interface { position: absolute; left: 0; right: 0; top: 30px; bottom: 0; padding-left: 320px; }*/
/*.iframe .main-interface { top: 0; }*/
/*.phone-outer { padding: 10px; position: absolute; top: 50%; left: 0; margin-top: -287px; }*/
/*.phone-outer { padding: 10px; position: absolute; top: 50%; left: 0; margin-top: -287px; left: 0; right: 0; }*/

/*.workspace { position: absolute; left: 0; right: 0; bottom: 0; top: 0; overflow: hidden; }*/

/*.phone-outer { position: absolute; left: 10px; top: 50%; width: 320px; height: 568px; border: 10px solid #000; border-radius: 5px; margin: -294px 0; background: ##fff; padding: 1px; }*/

.phone-outer {
    position: absolute;
    /* background: rgb(139, 40, 40); */
    padding: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.iframed .phone-outer { padding: 0; left: 0; top: 0; margin: 0; border: 0; }

/*.website { background: #fff; width: 320px; height: 568px; position: relative; margin: 0 auto; overflow: hidden; }*/
.website { margin: 0 auto; overflow: hidden;
}

/* .workspace {
    background: url(../images/login-background.png) !important;
    background-size: auto 100% !important;
    background-position: left top;
    background-repeat: no-repeat;
} */



.screen { position: absolute; top: 0; left: 0; width: 100%; height: 100%; overflow: hidden; }
.screen .overlay { content: ''; position: absolute; top: 65px; left: -100%; width: 100%; height: 100%; background: rgba(0,0,0,0.5); }
.screen .overlay { opacity: 0; transition: .3s opacity linear; z-index: 2; }
.screen.showing-left,
.screen.showing-right { left: 100%; transition: all .3s linear; -webkit-transition: all .3s linear; z-index: 2; opacity: 0.3; }
.screen.showing-left { left: -100%; }
.screen.show { left: 0; opacity: 1; }
.page { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.page iframe {
    position: absolute;
    top: 0;
    left: 33%;
    width: 30%;
    height: 568px;
    border: 0;
}
.page.slide-out-page { top: 65px; height: 100%; left: -100%; width: 100%; z-index: 3; }
.page.slide-out-page { transition: .3s all linear; }
.page.slide-out-page iframe {
    height: 502px;
    width: 30%;
}
.open-slideout .page.slide-out-page { left: 0; }





.open-slideout .overlay { opacity: 1; left: 0; }
.page.has-header iframe { top: 65px; height: 503px; }
.page .header {
    position: absolute;
    top: 0;
    left: 33%;
    width: 30%;
    right: 0;
    height: 55px;
    /* max-width: 50%; */
}
.page .header .inner { position: absolute; left: 0; right: 0; bottom: 0; height: 46px; }
.page .header .title { text-align: center; line-height: 46px; font-size: 18px; font-family: 'poppinslight', sans-serif; }
.page .header .title img { max-height: 46px; display: block; margin: 0 auto; }
.page .header table { width: 100%; font-size: 11px; font-family: 'Helvetica neue', 'Helvetica', Arial, Sans-Serif; }
.page .header table { line-height: 18px; padding-left: 5px; padding-right: 5px; }
.page .header table td.eq-0 { text-align: left; width: 80px; }
.page .header table td.eq-1 { text-align: center; }
.page .header table td.eq-2 { text-align: right; width: 80px; }
.page .header .button { position: absolute; top: 0; cursor: pointer; }
.page .header .r-button { right: 5px; height: 100%; }
.page .header .r-button img { max-height: 20px; max-width: 20px; max-height: 24px; max-width: 24px; }
.page .header .r-button img { vertical-align: middle; display: inline-block; }
.page .header .r-button:before { display: inline-block; content: ''; height: 100%; vertical-align: middle; }
.page .header .sandwitch { top: 0px; left: 5px; width: 24px; }
.page .header .sandwitch .line { height: 3px; background: #ccc; display: block; margin-bottom: 3px; }
.page .header .back { left: 5px; line-height: 46px; font-weight: bold; font-size: 30px; }
.open-slideout .page .header .sandwitch .line { box-shadow: 0 0 2px rgba(0,0,0,0.5); }

/*.toolbar { position: absolute; top: -30px; left: 0; right: 0; height: 29px; background: #19507a; border-bottom: 1px solid #ccc; }
.toolbar { box-shadow: 0 -1px 3px rgba(0,0,0,0.9) inset; }
.toolbar li { float: left; border-right: 1px solid #ccc; list-style: none outside none; }
.toolbar li a { display: block; line-height: 29px; text-decoration: none; padding: 0 9px; background: #217cc3; }
.toolbar li a { color: #fff; }
.toolbar li a:hover { background: #196eb0; }
.toolbar li em { display: block; line-height: 29px; padding: 0 10px; color: #eee; font-style: normal; font-family: Consolas; font-size: 11px; }*/

.page .tabs-wrapper { position: absolute; top: 0; left: 0; width: 100%; height: 568px; border: 0; }
.page.has-header .tabs-wrapper { top: 65px; height: 503px; }
.page .tab-content { position: absolute; left: 0; right: 0; top: 0; bottom: 47px; }
.page .tab-content iframe { top: 0; left: 0; width: 100%; height: 100%; }
.page .buttons { position: absolute; left: 0; right: 0; bottom: 0; display: table; table-layout: fixed; border-top: 1px solid #8c8c8c; background: #f8f8f8; width: 100%; }
.page .buttons-inner { display: table-row; }
.page .buttons-inner a { display: table-cell; color: #929292; font-size: 11px; text-decoration: none; text-align: center; font-weight: 100; }
.page .buttons-inner a { border-top: 2px solid #f8f8f8; }
.page .buttons-inner a img { max-width: 20px; max-height: 20px; display: block; margin: 5px auto; }
.page .buttons-inner a.active { border-top-color: #007aff; }

/**
 * This table holds all current variables.
 */
/*.data-table { position: absolute; top: 20px; left: 440px; right: 50px;  border-radius: 4px; border-bottom: 5px solid #19507a; box-shadow: 0 0 2px rgba(0,0,0,0.4); }
.data-table h3 { background: #19507a; padding: 3px 10px; color: #fff; border-top-left-radius: 4px; border-top-right-radius: 4px; }
.data-table table { background: #fff; border-collapse: collapse; width: 100%; }
.data-table table th,
.data-table table td { border: 1px solid #ccc; padding: 3px 10px; text-align: left; }
.data-table table th { font-weight: normal; }
.data-table table td {  }*/
.data-table, .toolbar, .status-bar {
	display: none;
}
.screen iframe {
	height: 92% !important;
}
.main-interface {
	height: 100%;
	width: 100%;
}
#root > div > div.workspace > div.phone-outer > div > div > div.page.has-header {
	background: transparent;
}

#uniqa_sfe_Goals .goals header li {
    background-color: green;
    color: red !important;
}
