#slideout .inner, .slide_menu{
    background-color: rgba(255,255,255,1);
}

a.lang-option{
    color: #ccc;
}

a.lang-option.active{
    background: #0096d9;
    color: #fff;
}

#slideout li{
    text-transform: uppercase;
}

#slideout li.active{
    border-color: #0096d9;
}

#slideout li a{
    color: #ccc;
}

#slideout li.active a{
    color: #0096d9;
}

.slideout_call{
    color: #60636a;
    border-color: #60636a;
    background: rgba(0,0,0,0);
}

