/***
    SLIDE OUT BEGIN
***/

#slideout .inner {
    width: 100%;
    height: 100%;
    background-color: #fff;
    /* background-image: url(../images/background.png) !important;
    background-position: top left !important;
    background-size: 100% 100% !important;
    background-repeat: no-repeat !important; */
    width: 100%;
    height: 100%;
}

.slideout-r2l-ios-fix {
    width: 100% !important;
}


/*Begin Lang*/

div#lang {
    text-align: center;
    padding: 4%;
    padding-top: 30px;
    /*overflow: scroll;*/
    /*width: 92%;*/
}

a.lang-option {
    color: #3a3c43;
    padding-right: 2%;
    margin-top: 2%;
    font-size: 14px;
    font-family: 'Open Sans';
    padding: 3%;
    width: 25px;
    height: 25px;
    text-transform: uppercase;
    overflow: scroll;
}

a.lang-option.active {
    border-radius: 50%;
    background: #1699d6;
    color: #fff;
}


/*End lang*/

.slide_menu {
    width: 100%;
    text-transform: uppercase;
    margin-top: 10%;
    float: left;
    background-image: url(../images/background.png) !important;
    background-position: top left !important;
    background-size: 100% 100% !important;
    background-repeat: no-repeat !important;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.slide_menu li {
    width: 100%;
}

#slideout li {
    /*width: 96%;*/
    width: 100%;
    padding: 1%;
    float: left;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 400;
    border-left: 4px solid transparent;
}

#slideout li.active {
    border-left: 4px solid #0096d9;
    border-right: 0;
}

#slideout li.active.right-border {
    border-right: 4px solid #0096d9;
    border-left: 0;
}

#slideout li.right-align {
    text-align: right;
}

#slideout li a {
    display: block;
    padding: 4px;
    color: #60636a;
    background-size: 24px auto;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 400;
}

#slideout li.active a {
    color: #1699d6;
}

#slideout li a {
    line-height: 20px;
}

#slideout.ios {
    width: 100%;
}

.slideout_call {
    position: fixed !important;
    /* bottom: 13% !important; */
    bottom: 5px;
    /*width: 96%;*/
    width: 100%;
    padding: 4% 2%;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    border-top: 1px solid;
}
.slideout_call .fa {
    margin-right: 15px;
}
@media screen and (max-width: 320px) {
    #slideout.ios .slide_menu {
        margin-top: 4%;
    }
}


/***
    SLIDE OUT END
***/


/*toggle Button Driver*/

.switch {
    position: relative;
    display: inline-block;
    width: 56px;
    height: 24px;
    left: 19px;
    top: 5px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: #333333;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:after {
    position: absolute;
    font-size: 14px;
    content: "off";
    color: #60636a;
    left: 27px;
    top: 2px;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #be73b4;
}

input:focus+.slider {
    box-shadow: 0 0 1px #be73b4;
}

input:checked+.slider {
    box-shadow: none;
}

input:checked+.slider:before {
    -webkit-transform: translateX(32px);
    -ms-transform: translateX(32px);
    transform: translateX(32px);
    background: #fff;
}

input:checked+.slider:after {
    content: "on";
    color: #fff;
    -webkit-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    transform: translateX(-20px);
}

input:checked+.switch-text {
    position: absolute;
    width: 100%;
    font-size: 14px;
    color: #fff;
    left: 7px;
    top: 2px;
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

div.ext_footer {
    position: fixed;
    bottom: 0%;
    font-size: 16px;
    width: 100%;
    padding: 4% 2%;
    text-align: center;
    border-top: 1px solid #e5e5e5;
}

div.ext_footer img {
    width: 25%;
    vertical-align: middle;
    margin-right: 30px;
}

div.ext_footer button {
    border: 0;
    background-color: #DA291C;
    /*border-radius: 15px;*/
    color: white;
    margin-left: -25px;
    margin-right: 17px;
    padding: 7px 30px;
    vertical-align: middle;
}
