@font-face {
  font-family: 'fontello';
  src: url('../fontello.eot?49121081');
  src: url('../fontello.eot?49121081#iefix') format('embedded-opentype'),
       url('../fontello.woff2?49121081') format('woff2'),
       url('../fontello.woff?49121081') format('woff'),
       url('../fontello.ttf?49121081') format('truetype'),
       url('../fontello.svg?49121081#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?49121081#fontello') format('svg');
  }
}
*/
 
 [class^="fo-"]:before, [class*=" fo-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.fo-wrench:before { content: '\e800'; } /* '' */
.fo-cancel:before { content: '\e801'; } /* '' */
.fo-right:before { content: '\e802'; } /* '' */
.fo-up:before { content: '\e803'; } /* '' */
.fo-left:before { content: '\e804'; } /* '' */
.fo-down:before { content: '\e805'; } /* '' */
.fo-plus:before { content: '\e806'; } /* '' */
.fo-plus-1:before { content: '\e807'; } /* '' */