.btn {
    border-radius: 4px;
    color: #ffffff;
    border: 2px solid;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    font-size: 1rem;
    text-align: center;
    word-wrap: break-word;
    overflow-wrap: break-word;

    /* Adds a hyphen where the word breaks */
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

.btn:not(.btn.box-check--sm, .btn.box-check) {
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
}

.wrap-btn-box > [class^="col"] {
    padding-right: 7px;
    padding-left: 7px;
}

.box-check {
    padding: 10px !important;
    min-height: 125px;
    align-items: center;
    display: flex !important;
    justify-content: center;
    height: 100%;
}

.box-check--sm {
    padding: 0 !important;
    min-height: 95px;
    align-items: center;
    display: flex !important;
    justify-content: center;
    height: 100%;
}

.box-check_inner {
    display: inline-block;
    word-wrap: break-word;
    width: 100%;
}

.btn-primary--sm,
.box-check-primary,
.btn-primary {
    border-color: #f48020;
    background-color: #f48020;
    color: #ffffff;
}

.btn-primary--sm {
    display: inline;
    padding: 5px 10px;
    box-shadow: none !important;
}

.box-check-primary.active,
.btn-primary.active,
.btn-primary:hover {
    color: #f48020;
    background-color: #ffffff;
}

.box-check--reverse,
.btn-primary--reverse {
    border-color: #f48020;
    background-color: #ffffff;
    color: #f48020;
}

.box-check--reverse.active,
.btn-primary--reverse.active,
.btn-primary--reverse:hover {
    border-color: #f48020;
    background-color: #f48020;
    color: #ffffff;
}

.btn-secondary {
    border-color: #9d8270;
    background-color: #ffffff;
    color: #9d8270;
}

.btn-secondary:hover {
    border-color: #9d8270;
    background-color: #9d8270;
    color: #ffffff;
}

/*GREEN BUTTONS*/
.btn-green {
    border-color: #77db35;
    background-color: #77db35;
    color: #ffffff;
}

.btn-green:hover {
    color: #77db35;
    background-color: #ffffff;
}

.btn-green--reverse {
    border-color: #77db35;
    background-color: #ffffff;
    color: #77db35;
}

.btn-green--reverse:hover {
    border-color: #77db35;
    background-color: #77db35;
    color: #ffffff;
}

/*.btn.link {*/
/*text-align: center;*/
/*display: inline-block;*/
/*text-transform: capitalize;*/
/*}*/

.btn-fixed-footer {
    position: fixed;
    padding-top: 0;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    width: 100%;
    left: 0;
    bottom: 0;
    background: #FFFFFF;
}

.btn-disabled {
    border-color: #b4b4b4 !important;
    color: #FFFFFF !important;
    background-color: #b4b4b4 !important;
}

/*RED BUTTONS*/
.btn-red {
    border-color: #f20e53;
    background-color: #f20e53;
    color: #ffffff;
}

.btn-red:hover {
    color: #f20e53;
    background-color: #ffffff;
}

.btn-red--reverse {
    border-color: #f20e53;
    background-color: #ffffff;
    color: #f20e53;
}

.btn-red--reverse:hover {
    border-color: #f20e53;
    background-color: #f20e53;
    color: #ffffff;
}

.btn-success {
    border-color: #00628d;
    background-color: #00628d;
    color: #ffffff;
}

.btn-play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-add {
    position: fixed;
    bottom: 25px;
    right: 25px;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background: #f48020;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: none;
    border-color: #f48020;
}

.plus-horizontal,
.plus-vertical {
    width: 1.5px;
    height: 20px;
    background: rgba(255, 255, 255, 0.6);
}

.plus-vertical {
    transform: rotate(90deg);
    height: 20px;
    text-align: center;
    display: block;
    right: -2px;
    position: relative;
}


.dialog-btn-default {
    margin-top: 5px;
    color: #9d8270;
    font-size: 1.25rem;
    font-family: Arial, sans-serif;
    line-height: 1.2;
    letter-spacing: 0.2px;
    text-align: center;
    padding: 15px;
    border-radius: 12px;
    background-color: #ffffff;
    border: none;
    box-shadow: none;
}

.dialog-btn-default:hover {
    background-color: #9d8270 ;
    color: #ffffff;
}

/*.dialog-btn_separate-line {*/
/*margin: 0;*/
/*border-top: 1px solid rgb(255, 255, 255);*/
/*-webkit-backdrop-filter: blur(10px);*/
/*backdrop-filter: blur(10px);*/
/*background-color: rgb(255, 255, 255);*/
/*box-shadow: none;*/
/*}*/

.dialog-btn-default.btn-primary,
.dialog-btn-group .dialog-btn-default {
    color: #f48020;
    border-radius: 12px !important;
    border-bottom: none;
}

.dialog-btn-default.btn-primary:hover,
.dialog-btn-group .dialog-btn-default:hover {
    color: #ffffff;
    background: #f48020;
}

.dialog-btn-group .dialog-btn-default:first-child {
    margin: 0;
    border-radius: 12px 12px 0 0;
    /*border-bottom: 1px solid #cccccc !important;*/
    box-shadow: none;
}

.dialog-btn-group .dialog-btn-default:last-child {
    margin: 0;
    border-radius: 0 0 12px 12px;
    box-shadow: none;
}