/*COLORS*/
.color-primary {
    color: #f48020;
}

.color-secondary {
    color: #9d8270;
}

.color-white {
    color: #ffffff;
}

/*BACKGROUNDS*/

.bg-primary {
    color: #f48020;
}

.bg-secondary {
    color: #9d8270;
}

.color-blue {
    color: #00628d;
}
