.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

.lh-2 {
    line-height: 2;
}

.mb-5 {
    margin-bottom: 5px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.mr-5 {
    margin-right: 5px;
}

.pt-10 {
    padding-top: 10px;
}

.p-7 {
    padding: 7px !important;
}

.pt-15 {
    padding-top: 15px;
}

.pl-10 {
    padding-left: 10px;
}

.pl-13 {
    padding-left: 13px;
}

.pr-10 {
    padding-right: 10px;
}

.pr-30 {
    padding-right: 30px;
}

.pr-20 {
    padding-right: 20px;
}

.pr-40 {
    padding-right: 40px;
}

.pl-0 {
    padding-left: 0;
}

.pr-0 {
    padding-right: 0;
}

.px-0 {
    padding-right: 0;
    padding-left: 0;
}

.py-0 {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.py-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.py-15 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.py-30 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.px-20 {
    padding-right: 20px !important;
    padding-left: 20px !important;
}

.px-15 {
    padding-right: 15px !important;
    padding-left: 15px !important;
}

.px-10 {
    padding-right: 10px !important;
    padding-left: 10px !important;
}

.mr-10 {
    margin-right: 10px;
}

.ml-10 {
    margin-left: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-60 {
    margin-top: 60px;
}

.mt-40 {
    margin-top: 40px;
}

.pt-30 {
    padding-top: 30px;
}

.pt-20 {
    padding-top: 20px;
}

.my-20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.my-30 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.mx-0 {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.pr-15 {
    padding-right: 15px;
}

.pl-15 {
    padding-left: 15px;
}

.pb-80 {
    padding-bottom: 80px;
}
.pb-90 {
    padding-bottom: 90px;
}


.pb-100 {
    padding-bottom: 100px;
}

.pb-20 {
    padding-bottom: 20px;
}
.pb-15 {
    padding-bottom: 15px;
}

.over-flow-hidden {
    overflow: hidden;
}

.mx--15 {
    margin-right: -15px;
    margin-left: -15px;
}
.mx-15 {
    margin-right: 15px;
    margin-left: 15px;
}
.mr--15 {
    margin-right: -15px;
}

.mt-0 {
    margin-top: 0 !important;
}

.mt-5 {
    margin-top: 5px !important;
}

.mt-30 {
    margin-top: 30px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-130 {
    margin-top: 130px;
}

.mb-10 {
    margin-bottom: 10px !important;
}

.mb-25 {
    margin-bottom: 25px !important;
}

.my-50 {
    margin-top: 50px;
    margin-bottom: 50px;
}

.shadow-top {
    background-color: #ffffff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.18);
}

.box-shadow {
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
}
.box-shadow.disabled-btn {
    box-shadow: none;
}

.mb-80 {
    margin-bottom: 80px;
}

.mt-80 {
    margin-top: 80px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mw-60 {
    min-width: 60px;
}

.mw-95 {
    min-width: 95px;
}

.w25 {
    width: 25%;
}

.w45 {
    width: 45%;
}

.w30 {
    width: 30%;
}

.w100 {
    width: 100%;
}

.mw-85 {
    min-width: 85px;
}

.flex-grow-2 {
    -webkit-box-flex: 2;
    -ms-flex-positive: 2;
    flex-grow: 2;
}

.pin {
    width: 25px;
    height: 25px;
    rotation: 90deg;
    transform: rotate(20deg);
    background: #77db35;
    position: absolute;
    top: 25%;
    left: 25%;
}

.ppx3 {
    padding-right: 3% !important;
    padding-left: 3% !important;
}

.m-auto {
    margin: 0 auto;
}

.text-overflow-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.text-word-wrap {
    word-wrap: break-word !important;
}

.relative {
    position: relative;
}