/*#notifications .borderTemplate{*/
/*border-color: #0096d9;*/
/*}*/

/*#notifications .colorTemplate{*/
/*color: #0096d9;*/
/*}*/

/*#notifications .textColorButton{*/
/*color: #0096d9;*/
/*}*/

/*#notifications .no_nofications{*/
/*color: #0096d9;*/
/*}*/

/*#notifications .popup_notifications .tittle{*/
/*color: #0096d9;*/
/*}*/

/*#notifications .description{*/
/*color: #0096d9;*/
/*}*/

/*#notifications .open_popup{*/
/*background: #ffffff;*/
/*}*/

/*#notifications .open_popup.noWiew{*/
/*background: #fff7b0;*/
/*}*/

/*#notificationsSettings .notifications-settings-title{*/
/*background: #0096d9;*/
/*border-bottom: 1px solid;*/
/*border-color: #0096d9;*/
/*}*/

/*#notificationsSettings .settings-days + label{*/
/*color: #3e3e3e;*/
/*}*/

/*#notificationsSettings .settings-days input[type="checkbox"]:checked + label{*/
/*color: #0096d9;*/
/*border-color: #3e3e3e;*/
/*}*/

/*#notificationsSettings .settings-categories td{*/
/*color: #0096d9;*/
/*}*/

/*#notificationsSettings .settings-categories .active td {*/
/*color: #0096d9;*/
/*}*/

/*.notifications-settings-save{*/
/*background: #0096d9;*/
/*color: #ffffff;*/
/*}*/

/*.popup_notifications{*/
/*background: rgba(255, 255, 255, 0.8);;*/
/*}*/

.notification-item_img-wrap {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: solid 2px #a0088b;
    overflow: hidden;
}

.notification-item_img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.notification-item {
    background-color: #ffffff;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.28);
    width: 100%;
}

.notification-item:hover {
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.7);
    z-index: 9;
    display: inline-block;
}

.notification-item_link {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*.notification-item_link:active,*/
/*.notification-item_link:hover {*/
    /*background-color: #587c8f21;*/
/*}*/

.notification-item_description {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
    padding: 0 10px 0 0;
}

.notification-item_img-section,
.notification-item_nav-arrow {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
}

.notification-item_nav-arrow {
    padding-right: 5px;
}

.notification-title {
    font-size: 0.875rem;
    margin-bottom: 3.3%;
}

.notification-description {
    font-size: 0.75rem;
    overflow: hidden;
    height: 50px;
}

.notification-time_hours {
    line-height: 1;
    display: inline-block;
}

.notification-time_hours.separated-right-line {
    padding-right: 5px;
    margin-right: 5px;
}