
.splash-bg {
    height: 100vh;
    background-image: linear-gradient(29deg, #3023ae, #c86dd7);
}

.splash-wrap {
    font-family: "axiformalight", sans-serif;
    color: #ffffff;
}

.splash-img_wrap {
    width: 69%;
    height: 29.9%;
    margin: 0 auto;
    padding-top: 15%;
}

.splash-text {
    width: 74.7%;
    margin: 2.7% auto 0;
}

.splash-text p {
    font-size: 1.25rem;
    text-align: center;
}

.splash-text_bottom {
    position: absolute;
    bottom: 3.4%;
    left: 50%;
    transform: translate(-50%);
}

.splash-text_bottom p {
    font-size: 1rem;
}
