@import 'typography.css';
@import 'colors.css';

* {
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    box-sizing: border-box;
}


*:before, *:after {
    box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font-style: normal;
    vertical-align: baseline;
    background: transparent;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #000000;
}

html,
body {
    height: 100%;
    margin: 0;
    font-family: 'poppinslight', sans-serif;
    font-size: 16px;
    line-height: 1.4;
    color: #2e2e2e;
}


#ip-container {
    position: relative;
    height: 100%;
}

#loader {
    display: none;
}

#loader .gif {
    position: fixed;
    z-index: 999999;
    background: url('../images/loading.gif') no-repeat;
    width: 150px;
    height: 168px;
    top: 50%;
    background-size: 100%;
    left: 50%;
    margin-left: -75px;
    margin-top: -84px;
}

#black-mask,
#loader .mask {
    background: #000;
    z-index: 999;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
}

.inner {
    width: 100%;
    display: block;
    margin: 0 auto;
    color: #333333;
    min-height: 100%;
    /*background: #fff;*/
    position: relative;
    background-size: 100%;
}

.content {
    float: left;
    /*height: 100%;*/
    width: 100%;
    position: relative;
    background: #fff;
    background-size: 100%;
}

.page-content {
    padding: 15px;
}

a[href^="http://maps.google.com/maps"] {
    display: none !important
}

a[href^="https://maps.google.com/maps"] {
    display: none !important
}

.gmnoprint a,
.gmnoprint span,
.gm-style-cc {
    display: none;
}

.gmnoprint div {
    background: none !important;
}


/*WELCOME POPUP*/

.logo_welcome {
    width: 80px;
    padding: 2% 10%;
    position: relative;
    left: 0;
    right: 0;
    top: 4px;
    margin: auto;
}

.logo_welcome img {
    width: 100%;
}

.welcome {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    display: none;
    z-index: 10;
    overflow-y: auto;
}

.welcome_box {
    background: #fff;
    border-radius: 5px;
    width: 90%;
    margin: 2% auto;
    padding-bottom: 5px;
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    z-index: 20;
    margin-bottom: 10px;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.3);
}

.welcome_box .closeAds {
    width: 17%;
    position: absolute;
    right: -16px;
    top: -4%;
    z-index: 10;
}

.welcome_box .closeAds img {
    width: 100%;
}

.welcome_box .closeWelcome {
    width: 30px;
    height: 30px;
    position: absolute;
    right: -10px;
    top: -15px;
    z-index: 10;
    font-size: 19px;
    line-height: 29px;
    text-align: center;
    border-radius: 50%;
    background: #ffffff;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.3);
}

/*END OF WELCOME POPUP*/


/***
* Version Check Begin
***/

.versions {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    background: rgba( 0, 0, 0, 0.9);
    top: 0;
    left: 0;
}

.popUpVersion {
    width: 80%;
    margin: 0 auto;
    background: #fff;
    border-radius: 7px;
    color: #000;
    position: relative;
    top: 25%;
}

img#closeVersionPopup {
    position: absolute;
    right: -8%;
    top: -30%;
    width: 60px;
}

.textInfo {
    width: 94%;
    padding: 14% 3%;
    text-align: center;
}

.device_info {
    text-align: center;
    position: absolute;
    bottom: 2%;
    color: #fff;
    width: 100%;
}

.device_info div {
    width: 100%;
    text-align: center;
}


/***
* Version Check End
***/


/**
* NO Internet
**/

.no-internet-popup {
    position: fixed;
    float: left;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.no-internet-inner {
    width: 76%;
    margin: 0 auto;
    background: #fff;
    border-radius: 7px;
    color: #000;
    position: relative;
    top: 25%;
    padding: 2%;
    text-align: center;
}

.no-internet-icon {
    position: absolute;
    top: -23px;
    left: 0;
    right: 0;
    margin: auto;
    width: 42px;
    background: #fff;
    border-radius: 50%;
    height: 42px;
    text-align: center;
    padding: 2%;
}

.no-internet-icon img {
    height: 100%;
}

.box_notification .icon,
.welcome .icon {
    float: none;
}

.no-internet-warning-text {
    padding-top: 34px;
}

.no-internet-info-text {
    margin: 20px 0;
    text-transform: uppercase;
}

.understand {
    width: 92%;
    padding: 2%;
    margin: 2%;
    color: #fff;
    background: #143f90;
    text-align: center;
    text-transform: uppercase;
}


/**
* Arabic
**/

.fa-lang-rtl {
    text-align: right;
    direction: rtl;
}

#gallery.fa-lang-rtl {
    direction: ltr;
}

.no-information {
    width: 96%;
    padding: 3% 2%;
    text-align: center;
}

/**
* header_page
**/


.header_page{
    color: #fff;
    background: #a0088b;
    font-family: 'poppinslight', sans-serif;
    width: 100%;
    padding: 7px;
    line-height: 1.4;
    text-align: center;
    background-size: 100%;
    position: relative;
    z-index: 10;
    font-size: 1rem;
}

.no-information{
    color: #0096d9;
}

.header_page:first-of-type{
    position: fixed;
    top: 0;
    text-transform: capitalize;
}

.content{
    /*padding-top: 36px !important;*/
}

.img-block {
    width: 100%;
    display: block;
    height: auto;
}

form, select, input, button {
    font-family: "poppinslight", sans-serif;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #9d8270 !important;
    opacity: 0.4 !important; /* Firefox */
}

::-webkit-input-placeholder {
    color: #9d8270 !important;
    opacity: 0.4 !important; /* for older chrome versions. may no longer apply. */
}

:-moz-placeholder { /* Firefox 18- */
    color: #9d8270 !important;
    opacity: 0.4 !important;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: #9d8270 !important;
    opacity: 0.4 !important;
}

:-ms-input-placeholder {
    color: #9d8270 !important;
    opacity: 0.5 !important;
}