<!--buttons confirm/ decline-->
<div>
    <div class="btn-fixed-footer">
        <div class="row">
            <div class="col-6 pr-10">
                <div class="btn btn-secondary font-16 decline-request-btn">
                    <!--decline-->
                </div>
            </div>
            <div class="col-6 pl-0">
                <div class="btn btn-primary font-16 confirm-request-btn">
                    <!--confirm-->
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade modal-from-bottom" id="declineConfirmModal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content modal-native modal-content--info">
                <div class="pt-20 pb-20 px-20">
                    <h3 class="font-16 color-primary text-center title-confirm">
                        <!--What is the reason to unmatch this person?-->
                    </h3>
                </div>
                <div class="dialog-btn-group--info">
                    <button type="button" class="btn dialog-btn-default yes-decline-request-btn"
                            data-dismiss="modal">
                        <!--unmatch-->
                    </button>
                    <button type="button" class="btn dialog-btn-default can-btn" data-dismiss="modal">

                    </button>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade modal-from-bottom" id="confirmAcceptModal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content modal-native modal-content--info">
                <div class="pt-20 pb-20 px-20">
                    <h3 class="font-16 color-primary text-center title-confirm-accept">
                        <!--What is the reason to unmatch this person?-->
                    </h3>
                </div>
                <div class="dialog-btn-group--info">
                    <button type="button" class="btn dialog-btn-default yes-accept-request-btn"
                            data-dismiss="modal">
                        <!--unmatch-->
                    </button>
                    <button type="button" class="btn dialog-btn-default can-btn" data-dismiss="modal">

                    </button>
                </div>

            </div>
        </div>
    </div>
</div>