<div>
    <!--multi buttons-->
    <div class="btn-fixed-footer">
        <div class="row switch-btns">
            <div class="col">
                <div class="btn  font-16 btn-match">

                </div>
            </div>
            <!--<div class="col" style="display: none">-->
                <!--<div  data-toggle="modal" data-target="#cancelRequest" class="btn font-16"></div>-->
            <!--</div>-->
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade modal-from-bottom" id="cancelRequest" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content modal-native">
                <div class="dialog-btn-group">
                    <button type="button" 
                        class="btn dialog-btn-default btn-primary cancel-request-btn"
                        data-toggle="modal"
                        data-target="#cancelConfirmModal"
                        data-dismiss="modal">

                    </button>
                </div>
                <button type="button" class="btn dialog-btn-default btn-cancel" data-dismiss="modal"></button>
            </div>
        </div>
    </div>
    <!--/MODAL POP UP BUTTONS-->

     <div class="modal fade modal-from-bottom" id="cancelConfirmModal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content modal-native modal-content--info">
                <div class="pt-20 pb-20 px-20">
                    <h3 class="font-16 color-primary text-center title-confirm">
                        <!--What is the reason to unmatch this person?-->
                    </h3>
                </div>
                <div class="dialog-btn-group--info">
                    <button type="button" class="btn dialog-btn-default yes-cancel-request-btn"
                            data-dismiss="modal">
                        <!--unmatch-->
                    </button>
                    <button type="button" class="btn dialog-btn-default btn-cancel" data-dismiss="modal">

                    </button>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade modal-from-bottom" id="sendConfirmModal" tabindex="-1" role="dialog"
        aria-labelledby="sendModalLabel" aria-hidden="true">
       <div class="modal-dialog" role="document">
           <div class="modal-content modal-native modal-content--info">
               <div class="pt-20 pb-20 px-20">
                   <h3 class="font-16 color-primary text-center send-title-confirm">
                       <!--What is the reason to unmatch this person?-->
                   </h3>
               </div>
               <div class="dialog-btn-group--info">
                   <button type="button" class="btn dialog-btn-default yes-send-request-btn" data-dismiss="modal">

                   </button>
                   <button type="button" class="btn dialog-btn-default btn-cancel" data-dismiss="modal">
                    Cancel
                   </button>
               </div>

           </div>
       </div>
   </div>

</div>