<!--multi buttons-->
<div class="col-4 p-7">
    <label class="btn  box-check--sm box-check--reverse font-12 answer-wrapper" for="">
        <input type="checkbox" name="answer" id="" value="" class="answer-check" autocomplete="off">
        <span class="box-check_inner"></span>
    </label>
</div>