<!--role button-->
<div class="col-6">
    <label class="btn  font-18 box-check box-check--reverse answer-wrapper" for="">
        <input type="checkbox" id="" name="answer"  value="" class="answer-check" autocomplete="off">
        <span class="box-check_inner"></span>
    </label>
</div>