<!--button unmatch-->
<div>

    <div class="mb-50" data-toggle="modal" data-target="#unmatchModal"
         data-request="confirmed-message-appear">
        <div class="btn btn-secondary btn-unmatch-request">
            <!--unmatch-->
        </div>
    </div>
    <div class="btn-fixed-footer">
        <div class="row" data-request="confirmed-message-appear">
            <div class="col">
                <div class="card-label request-data">
                    <!--matched on july 4, 2018-->
                </div>
            </div>
        </div>


    </div>

    <!--MODAL POP UP BUTTONS for unmatching user-->
    <!-- Modal -->
    <div class="modal fade modal-from-bottom" id="unmatchModal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content modal-native modal-content--info">
                <div class="pt-20 pb-20 px-20">
                    <h3 class="font-16 color-primary text-center unmatch-title">
                    </h3>
                    <p class="font-12 color-secondary text-center text-send-request">
                    </p>
                </div>
                <div class="dialog-btn-group--info">
                    <button type="button" class="btn dialog-btn-default btn-primary text-yes"
                            data-toggle="modal"
                            data-target="#unmatchDescribeModal"
                            data-dismiss="modal">

                    </button>
                    <button type="button" class="btn dialog-btn-default btn-cancel" data-dismiss="modal">

                    </button>
                </div>

            </div>
        </div>
    </div>
    <!--/MODAL POP UP BUTTONS-->  <!--MODAL POP UP BUTTONS for unmatching user-->
    <!-- Modal -->
    <div class="modal fade modal-from-bottom" id="unmatchDescribeModal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content modal-native modal-content--info">
                <div class="pt-20 pb-20 px-20">
                    <h3 class="font-16 color-primary text-center title-reason">
                        <!--What is the reason to unmatch this person?-->
                    </h3>
                </div>
                <textarea placeholder="type here…" class="d-block textarea-unmatch-description"
                          name="unmatch description" id="unmatchDescription" cols="30" rows="10"></textarea>
                <div class="dialog-btn-group--info">
                    <button type="button" class="btn dialog-btn-default unmatch-btn unmatch" data-unmatch="unmatch"
                            data-dismiss="modal">
                        <!--unmatch-->
                    </button>
                </div>

            </div>
        </div>
    </div>
    <!--/MODAL POP UP BUTTONS-->
</div>