<li class="faq-item" data-id="">
    <div>
        <p class="text-input text-word-wrap font-16 pr-20"></p>
        <span class="right-chevron--abs">
            <i class="fa fa-chevron-right font-16"></i>
        </span>
    </div>
</li>