<div>
	
	<div class="content full-vh feedback-wrapper">
	    <div class="container pt-30">
	        <div class="">
	            <textarea name="feedback" id="feedbackTextArea" class="color-primary font-16 textarea-feedback pb-80 required-text" cols="30"
	            placeholder=""></textarea>
	        </div>
	        <div class="btn-fixed-footer">
	            <div class="btn btn-primary submit-btn disabled-btn"></div>
	        </div>
	    </div>
	</div>

    <div class="container py-30 thanks-wrapper">
	    <div class="">
	       <h3 class="title-primary font-24 thanks-title"></h3>
	        <div class="mt-20">
	            <p class="font-16 color-secondary thanks-text"></p>
	        </div>
	    </div>
	</div>

</div>

