<li class="forcefully-item match-wrapper">
    <div class="row align-items-center justify-content-around px-5">
        <div class="user-detail">
            <span class="username">></span>
            <span class="status">></span>
        </div>
    </div>
</li>
