<!--<div id="force-fully-match" >
    <h1 class="forcefully-match-title"></h1>
    <div class="col-md-12">
        <input type="text" class="search-user" autocomplete="off" spellcheck="false">
        <ul class="wrap-block--25 wrap-list-items list-users" id="force-users" style="display: none;"></ul>
    </div>
</div>-->
<div class="autocomplete" style="width: 300px;">
    <input id="search" type="text" name="MySearch" placeholder="Enter name or email" autocomplete="off" spellcheck="false">
    <input type="button" class="forcefully_match" id="match" value="Match">
</div>
