<li class="matches-item match-wrapper">
    <div class="row align-items-center justify-content-around px-5">
        <div class="col-auto d-none">
                    <span class="font-24 color-primary match-percent"></span>
        </div>
        <div class="col-auto">
            <div class="avatar-img avatar-img--sm img-profile img-error img-error--sm">
                <!--set this icon if there is no img-->
                <i class="fa fa-camera color_barney-purple  avatar-icon"></i>
                <img src="images/img-avatar.jpg" class="img-block img-fluid avatar" alt=""
                     itemprop="image">
            </div>
        </div>
        <div class="col-6 wrap-matches_item_details" data-link="link-to-profile-account-request-match">
            <h3 class="font-24 color-primary matches-item_title text-overflow-ellipsis"></h3>
            <div class="font-10 color-secondary matches-item_details">
                <p class="match-title text-overflow-ellipsis"></p>
                <p class="match-request text-overflow-ellipsis"></p>
                <p class="match-location text-overflow-ellipsis"></p>
            </div>
        </div>
        <div class="col-auto next_profile" data-link="link-to-profile-account-request-match">
            <div>
                <i class="fa fa-chevron-right color-secondary"></i>
            </div>
        </div>
    </div>
</li>