<div>
    <div class="row">
        <div class="col-12">
            <h2 class="title-secondary profile-title">
            </h2>
        </div>
    </div>
    <div class="row wrap_template_field_2  mt-25">
        <div class="form-group mb-0 template_field col-6">
            <label class="text-sm title-template-field" for=""></label>
            <input class="required-input form-control py-0 detail-template-field text-overflow-ellipsis" id="" type="text"
                   aria-describedby="" placeholder="">
        </div>
        <div class="form-group mb-0 template_field col-6">
            <label class="text-sm title-template-field" for=""></label>
            <input class="required-input form-control py-0 detail-template-field text-overflow-ellipsis" id="" type="text"
                   aria-describedby="" placeholder="">
        </div>
    </div>

</div>
