<div id="sent-match-request">
    <h2 class="title-secondary match-status-title cancel-match-title"></h2>
    <p class="color-secondary sent-request-title"></p>
    <section>
        <p class="color-primary text-center no-matchrequest"></p>
        <ul class="wrap-block--25 wrap-list-items list-matchrequest">
        </ul>

    </section>
</div>