<!--profile avatar-->
<div class="my-30 box-element-profil">
    <div class="avatar-img avatar-img--lg m-auto img-profile img-error img-error--lg"
          data-target="#exampleModal">
        <!--set this icon if there is no img-->
        <i class="fa fa-camera color_barney-purple img-none" style="display: none"></i>
        <img data-img="profile-img" src="" class="img-block img-fluid avatar profil-iamge-inner"
             alt="" itemprop="image" style="display: block">
    </div>

    <!--MODAL POP UP BUTTONS-->
    <!-- Modal -->
    <div class="modal fade modal-from-bottom" id="exampleModal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content modal-native modal-content--info">
                <div class="dialog-btn-group">
                    <button type="button" class="btn dialog-btn-default btn-primary img-profile-album bt-none change-iamge capitalize">
                    </button>
                    <button type="button" class="btn dialog-btn-default btn-primary img-profile-camera remove-image capitalize">
                    </button>
                </div>
            </div>
            <button type="button" class="btn dialog-btn-default mt-5" data-dismiss="modal">Cancel</button>
        </div>
    </div>
    <!--/MODAL POP UP BUTTONS-->
</div>
