<div class="row wrap_template_field_1">
    <h2 class="col-12 title-secondary template-field-title">
    </h2>
    <div class="form-group template_field col-12 mb-0">
        <label class="text-sm title-template-field" for=""></label>
        <input class="required-input form-control py-0 detail-template-field text-overflow-ellipsis" id="" type="text"
               aria-describedby="" placeholder="">
        <p class="font-10 font-bold color-secondary detail-template-field--specify">

    </div>
</div>

