<div class="modal fade modal-from-bottom" id="messageModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content modal-native modal-content--info">
            <div class="dialog-btn-group">
                <a type="button" class="btn dialog-btn-default btn-primary d-block bt-none modal-email">
                    Email
                </a>
                <a type="button" class="btn dialog-btn-default btn-primary d-block modal-linkedin">
                    LinkedIn
                </a>
            </div>
        </div>
        <button type="button" class="btn dialog-btn-default" data-dismiss="modal">Cancel</button>
    </div>
</div>