<div class="row wrap_profile_field_cohort">

</div>

<div class="form-group select-wrap ">
    <label class="text-sm profile-select_title" for="cohortSelect">Program</label>
    <select class="form-control py-0 select-placeholder text-overflow-ellipsis cohort-select_choices cohort-ajax-select" id="cohortSelect" name="4"></select>
</div>