<div>
    <h3 class="text-input text-word-wrap font-16 pr-20 resources-detailed-title"></h3>
    <div class="mt-20">
        <p class="font-16 color-secondary resources-detailed-text"></p>
        <div class="img-error relative resources-youtube">
            <div class="embed-responsive embed-responsive-16by9">
                <div class="embed-responsive-item video-wrapper">
                    <iframe width="560" height="315" src="" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
