<!--textarea-->
<div class="form-group w100 px-15 ">
    <textarea class="form-control questions-textarea required-text" id="FormControlTextarea1" rows="3"
              placeholder="Tell sponsorees what makes you awesome" name="answer_text" maxlength="300"></textarea>
    <p class="px-15 text-right font-12 color-secondary opacity-05 py-10"><span class="char-counter"></span>/ <span>300</span></p>
</div>

