<div class="my-30">
    <div class="wrap-avatar-img--xlg  m-auto">
        <div class="avatar-label d-none"><span class="avatar-label_percent"></span></div>
        <div class="avatar-img avatar-img--xlg img-profile img-error img-error--xlg">
            <!--set this icon if there is no img-->
            <i class="fa fa-camera color_barney-purple img-none" style="display: none"></i>
            <img src="images/img-avatar.jpg" class="img-block img-fluid avatar" alt="" itemprop="image"
                 style="display: block">
        </div>
    </div>
</div>