<!--wrapper for multi buttons -->
<div class="container pb-100">
    <form class="question-form" data-rel=''>
        <div class="my-30">
            <h1 class="title-primary"></h1>
            <h3 class="title-secondary"></h3>
        </div>

        <div class="answers-wrapper">
            <div class="multi-box row btn-group-toggle" data-toggle="buttons">
                <!--buttons or text goes here-->
            </div>
        </div>
        <div class="questions-pages-count">
            <p class="text-center font-14 color-primary questionnaire-counter d-none"><span class="number-count-questions"></span> of <span class="number-sum-questions"></span></p>
        </div>
        <div class="btn-fixed-footer">
            <div class="btn btn-primary save-question-btn "></div>
        </div>
    </form>
</div>