<!--account settings-->
<div class="row">
    <div class="col wrap-block">
        <h2 class="title-secondary profile-field-title">

        </h2>
        <div>
            <p class="text-sm profile-field_title-mail">

            </p>
            <p class="text-input text-word-wrap font-16 text-overflow-ellipsis profile-field-mail">

            </p>
        </div>
        <div>
            <p class="text-sm profile-field_title-password">

            </p>
            <p class="text-input text-word-wrap font-16 relative password-wrapper">
                <span class="profile-field-password ">•••••••••••••</span>
                <span class="right-chevron--abs">
                    <i class="fa fa-chevron-right font-16 color-secondary"></i>
                </span>
            </p>
        </div>
    </div>
</div>
