<div>
    <div class="form-group">
        <input type="text" placeholder="Search for user by name or email" class="form-control search-box" id="seach">
    </div>
    <!--wrapper for role selection-->
    <div class="wrap-nav-tabs">
        <ul class="nav nav-tabs admin-tabs d-flex" id="myTab" role="tablist">
            <li class="col-6 nav-item px-0">
                <a class="nav-link  font-16 active" id="sponsorees-tab" data-toggle="tab" href="#sponsoreesTab"
                    role="tab" aria-controls="home" aria-selected="true"></a>
            </li>
            <li class="col-6 nav-item px-0">
                <a class="nav-link  font-16" id="sponsors-tab" data-toggle="tab" href="#sponsorsTab" role="tab"
                    aria-controls="profile" aria-selected="false"></a>
            </li>
        </ul>
    </div>
    <!--<div class="" id="myTabContent">-->
    <div class="tab-content tab-pane-content" id="myTabContent">
        <div class="tab-pane fade show active" id="sponsoreesTab" role="tabpanel" aria-labelledby="home-tab">
            <ul class="nav nav-tabs admin-tabs d-flex" id="Ul1" role="tablist">
                <li class="col-3 nav-item px-0">
                    <a class="nav-link  font-16 active" id="A1" data-toggle="tab" href="#alldata"
                        role="tab" aria-controls="home" aria-selected="true">All</a>
                </li>
                <li class="col-3 nav-item px-0">
                    <a class="nav-link  font-16" id="A2" data-toggle="tab" href="#matcheddata" role="tab"
                        aria-controls="profile" aria-selected="false">Matched</a>
                </li>
                <li class="col-3 nav-item px-0">
                    <a class="nav-link  font-16" id="A3" data-toggle="tab" href="#pendingrequestdata" role="tab"
                        aria-controls="profile" aria-selected="false">Pending Request</a>
                </li>
                <li class="col-3 nav-item px-0">
                    <a class="nav-link  font-16" id="A4" data-toggle="tab" href="#noactivitydata" role="tab"
                        aria-controls="profile" aria-selected="false">No Activity</a>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane fade show active" id="alldata" role="tabpanel" aria-labelledby="home-tab">
                    <section>
                        <p class="color-primary text-center no-sponsorees"></p>
                        <ul class="wrap-block--25 wrap-list-items list-sponsorees">
                        </ul>
                    </section>
                </div>
                <div class="tab-pane fade" id="matcheddata" role="tabpanel" aria-labelledby="home-tab">
                    <section>
                        <p class="color-primary text-center no-matchedsponsorees"></p>
                        <ul class="wrap-block--25 wrap-list-items list-matchedsponsorees">
                        </ul>
                    </section>
                </div>
                <div class="tab-pane fade" id="pendingrequestdata" role="tabpanel" aria-labelledby="home-tab">
                    <section>
                        <p class="color-primary text-center no-paendingrequestsponsorees"></p>
                        <ul class="wrap-block--25 wrap-list-items list-paendingrequestsponsorees">
                        </ul>
                    </section>
                </div>
                <div class="tab-pane fade" id="noactivitydata" role="tabpanel" aria-labelledby="home-tab">
                    <section>
                        <p class="color-primary text-center no-noactivitysponsorees"></p>
                        <ul class="wrap-block--25 wrap-list-items list-noactivitysponsorees">
                        </ul>
                    </section>
                </div>
            </div>

            <div class="btn btn-add create-acc-btn">
                <span class="plus-vertical"></span>
                <span class="plus-horizontal"></span>
            </div>
        </div>

        <div class="tab-pane fade" id="sponsorsTab" role="tabpanel" aria-labelledby="profile-tab">
            <ul class="nav nav-tabs admin-tabs d-flex" id="Ul2" role="tablist">
                <li class="col-3 nav-item px-0">
                    <a class="nav-link  font-16 active" id="A5" data-toggle="tab" href="#allsponsor"
                        role="tab" aria-controls="home" aria-selected="true">All</a>
                </li>
                <li class="col-3 nav-item px-0">
                    <a class="nav-link  font-16" id="A6" data-toggle="tab" href="#matchedsponsor" role="tab"
                        aria-controls="profile" aria-selected="false">Matched</a>
                </li>
                <li class="col-3 nav-item px-0">
                    <a class="nav-link  font-16" id="A7" data-toggle="tab" href="#pendingrequestsponsor" role="tab"
                        aria-controls="profile" aria-selected="false">Pending Request</a>
                </li>
                <li class="col-3 nav-item px-0">
                    <a class="nav-link  font-16" id="A8" data-toggle="tab" href="#noactivitysponsor" role="tab"
                        aria-controls="profile" aria-selected="false">No Activity</a>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane fade show active" id="allsponsor" role="tabpanel" aria-labelledby="profile-tab">
                    <section>
                        <p class="color-primary text-center no-sponsors"></p>
                        <ul class="wrap-block--25 wrap-list-items list-sponsors">
                        </ul>
                    </section>
                </div>
                <div class="tab-pane fade" id="matchedsponsor" role="tabpanel" aria-labelledby="profile-tab">
                    <section>
                        <p class="color-primary text-center no-matchedsponsors"></p>
                        <ul class="wrap-block--25 wrap-list-items list-matchedsponsors">
                        </ul>
                    </section>
                </div>
                <div class="tab-pane fade" id="pendingrequestsponsor" role="tabpanel" aria-labelledby="profile-tab">
                    <section>
                        <p class="color-primary text-center no-pendingrequestsponsors"></p>
                        <ul class="wrap-block--25 wrap-list-items list-pendingrequestsponsors">
                        </ul>
                    </section>
                </div>
                <div class="tab-pane fade" id="noactivitysponsor" role="tabpanel" aria-labelledby="profile-tab">
                    <section>
                        <p class="color-primary text-center no-noactivitysponsors"></p>
                        <ul class="wrap-block--25 wrap-list-items list-noactivitysponsors">
                        </ul>
                    </section>
                </div>
            </div>
            <div class="btn btn-add create-acc-btn">
                <span class="plus-vertical"></span>
                <span class="plus-horizontal"></span>
            </div>
        </div>

    </div>
</div>


<!-- Sponsor Tabs -->
