<!--wrapper for cohort selection-->
<div class="container pb-90">
    <form class="cohort-form" data-rel=''>
        <h1 class="title-primary my-50"></h1>
        <div class="form-group select-wrap required-field">
            <label class="text-sm" for="cohortSelect">Program</label>
            <select class="form-control py-0 select-placeholder" id="cohortSelect" required></select>
        </div>
        <div class="btn-fixed-footer">
            <div class="btn btn-primary disabled-btn cohort-action-btn"></div>
        </div>
    </form>
</div>