<div>
    <div class="wrap-nav-tabs">
        <ul class="tab-pane-mymatches mt-20 pb-90 wrap-block--25 active-matches" id="active-matches"></ul>
        <ul class="nav nav-tabs admin-tabs d-flex" role="tablist">
            <li class="col-2 nav-item px-0">
                <a class="nav-link  font-16 active" data-toggle="tab" href="#mutual"
                    role="tab" aria-controls="home" aria-selected="true">Mutual</a>
            </li>
            <li class="col-3 nav-item px-0">
                <a class="nav-link  font-16" data-toggle="tab" href="#suggested" role="tab"
                    aria-controls="profile" aria-selected="false">Suggested</a>
            </li>
            <li class="col-2 nav-item px-0">
                <a class="nav-link  font-16" data-toggle="tab" href="#sent" role="tab"
                    aria-controls="profile" aria-selected="false">Sent</a>
            </li>
            <li class="col-3 nav-item px-0">
                <a class="nav-link  font-16" data-toggle="tab" href="#received" role="tab"
                    aria-controls="profile" aria-selected="false">Received</a>
            </li>
            <li class="col-2 nav-item px-0">
                <a class="nav-link  font-16" data-toggle="tab" href="#past" role="tab"
                    aria-controls="profile" aria-selected="false">Past</a>
            </li>
        </ul>
    </div>
    <div class="tab-pane-mymatches mt-20 pb-90" id="myTabContent">
        <div class="tab-content">
            <div class="tab-pane fade show active" id="mutual" role="tabpanel" aria-labelledby="home-tab">
                <section>
                    <p class="color-primary text-center no-mutual"></p>
                    <ul class="wrap-block--25 list-mutual">
                    </ul>
                </section>
            </div>
            <div class="tab-pane fade" id="suggested" role="tabpanel" aria-labelledby="profile-tab">
                <section>
                    <p class="color-primary text-center no-suggested"></p>
                    <ul class="wrap-block--25 list-suggested">
                    </ul>
                </section>
            </div>
            <div class="tab-pane fade" id="sent" role="tabpanel" aria-labelledby="profile-tab">
                <section>
                    <p class="color-primary text-center no-sent"></p>
                    <ul class="wrap-block--25 list-sent">
                    </ul>
                </section>
            </div>
            <div class="tab-pane fade" id="received" role="tabpanel" aria-labelledby="profile-tab">
                <section>
                    <p class="color-primary text-center no-received"></p>
                    <ul class="wrap-block--25 list-received">
                    </ul>
                </section>
            </div>
            <div class="tab-pane fade" id="past" role="tabpanel" aria-labelledby="profile-tab">
                <section>
                    <p class="color-primary text-center no-past"></p>
                    <ul class="wrap-block--25 list-past">
                    </ul>
                </section>
            </div>
        </div>
    </div>
</div>
