<!--wrapper for role selection-->
<div class="container pb-90">
    <form class="question-form" data-rel=''>
        <h1 class="title-primary my-50"></h1>
        <div class="answers-wrapper">
            <div class="multi-box row btn-group-toggle" data-toggle="buttons" data-min="" data-max="">
                <!--buttons goes here-->
            </div>
        </div>
        <div class="btn-fixed-footer">
            <div class="btn btn-primary save-question-btn "></div>
        </div>
    </form>
</div>