<!--profile answers-->
<div class="form-group select-wrap ">
    <label class="text-sm profile-select_title" for=""></label>
    <!--JUST RFEMOVE "required" FROM THE SELECT TAG WHEN THIS ELEMENT IS IN PROFILE-->
    <select class="form-control py-0 select-placeholder text-overflow-ellipsis profile-select_choices" id="levelSelect">
    </select>
</div>
</div>
