<!--MATCH INFO-->
<div class="row">
    <div class="col wrap-block">
        <div class="row">
            <div class="col">
                <h2 class="title-secondary match-info">
                    <p class="pr-40 match-info-title">
                    </p>
                    <span class="right-chevron--abs">
                        <i class="fa fa-chevron-right font-16"></i>
                    </span>
                </h2>
                <div class="match-details">
                    <p class="color-secondary font-16 match-date">

                    </p>

                    <div class="row align-items-center">
                        <div class="col-auto">
                            <div class="avatar-img avatar-img--sm img-profile img-error img-error--sm">
                                <!--set this icon if there is no img-->
                                <i class="fa fa-camera color_barney-purple img-none avatar-icon"
                                   style="display: none"></i>
                                <img src="" class="img-block img-fluid avatar"
                                     alt=""
                                     itemprop="" style="display: block">
                            </div>
                        </div>
                        <div class="col-7" data-link="link-to-profile-account-match-request-receive">
                            <h3 class="font-16 color-primary matches-item_title">

                            </h3>
                        </div>
                    </div>
                    <div class="mt-20 mb-20">
                        <div class="btn btn-primary--sm admin-unmatch-btn">

                        </div>
                    </div>
                </div>
                <div>
                    <h2 class="title-secondary pr-40 profile-type-title">

                    </h2>
                    <p>
                        <span class="profile-type-sponsor">sponsor</span>/<span class="profile-type-sponsoree">sponsoree</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>