.inner{
    background: #fff;
}

input{
    border-color: #0096d9;
    color: #333;
}

.inner hr,#register .inner hr,#login .inner hr{
    border-color: #0096d9;
}

input:focus{
    border-color: #333;
    border-color: #0096d9;
}

label{
    color: #333;
}

.inner .login-btn,#register .register-btn,#login .inner .login-btn,.restPass,.saveProfil,.inner button{
    background-color: #0096d9;
    color: #ffffff;
}

.change-iamg, .addImage, .remove-image{
    background-color: #0096d9;
}

.change-iamg, .addImage{
    color: #ffffff;
}

#login .inner .fb-login-btn{
    background-color: #3b5b96;
    color: #ffffff;
}

.inner .forgot-pass-form label,#register .inner .forgot-pass-form label,#login .inner .forgot-pass-form label{
    color: #0096d9;
}

#profil .box-element label:before,#register .inner input[type=checkbox]+label::before{
    border-color: #0096d9;
}

#register .inner input[type=checkbox]:checked+label::before,#profil .box-element input[type=checkbox]:checked+label:before,#profil .box-element.radio input[type=radio]:checked+label:before{
    border-color: #0096d9;
    background: #0096d9;
}

.terms-cbx-label.required,.err-taken-mail,#register .inner input.not-valid,#login .inner input.not-valid,.err-taken-password{
    color: #f01f37;
}

.remove-image{
    background-color: #f01f37;
}

.popup-feedback{
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
}

.saveprofile{
    background-color: #0096D9;
}

#profile .box-element input[type=checkbox]:checked+label:before, #profile .box-element.radio input[type=radio]:checked+label:before{
    border-color: #0096D9;
    background: #0096D9;
}

