.inner {
    background-color: #333333;
    color: #ffffff;
    text-align: center;
}

.inner h1,
#register .inner h1,
#login .inner h1 {
    font-size: 20px;
    margin-bottom: 50px;
    margin-top: 20px;
}

.inner label,
#register .inner label,
#login .inner label {
    display: block;
    text-align: left;
    padding: 0 8%;
    margin-top: 3%;
    font-weight: 700;
    font-family: inherit;
}

input {
    display: block;
    width: 95%;
    font-size: 16px;
    padding: 10px 5px;
    background-color: transparent;
    color: #333333;
    border: 1px solid transparent;
    border-radius: 7px;
    -webkit-appearance: none;
    -webkit-box-shadow: 0px 0px 9px 0px rgba(96,99,106,0.17);
    -moz-box-shadow: 0px 0px 9px 0px rgba(96,99,106,0.17);
    box-shadow: 0px 0px 9px 0px rgba(96,99,106,0.17);
}
input:focus {
    outline: none;
    border-bottom: 2px solid #f0f0f0;
}

.inner button,
#register .inner button,
#login .inner button {
    display: block;
    margin: auto;
    width: 85%;
    color: #ffffff;
    font-weight: 700;
    border: 0;
    border-radius: 5px;
    font-size: 16px;
    padding: 3%;
}

.inner .login-btn,
#register .inner .login-btn,
#login .inner .login-btn,
.restPass {
    background-color: #f01f37;
    text-transform: uppercase;
    margin-top: 80px;
}

.saveprofile {
    text-transform: uppercase;
    margin-top: 80px;
    background: #ce1f2c;
    border-radius: 7px;
}

.inner .fb-login-btn,
#register .inner .fb-login-btn,
#login .inner .fb-login-btn {
    margin-top: 10px;
    background: #3b5b96;
    margin-bottom: 40px;
}

.inner .forgot-pass-form,
#register .inner .forgot-pass-form,
#login .inner .forgot-pass-form {
    color: #ababab;
}

.inner .forgot-pass-form label,
#register .inner .forgot-pass-form label,
#login .inner .forgot-pass-form label {
    text-align: center;
}

.inner hr,
#register .inner hr,
#login .inner hr {
    border-bottom: 1px solid #ababab;
    border-top: 0;
    width: 90%;
}

.inner .hidden,
#register .inner .hidden,
#login .inner .hidden {
    display: none;
}

.terms-cbx-label.required {
    color: red;
}

#register .inner input[type=checkbox] {
    display: none;
}

.not-valid {
    color: #f01f37;
}

.forgotten_pass {
    margin-top: 20px;
    float: left;
    width: 100%;
}

.forgottenPassForm {
    margin-top: 20px;
}

.err-taken-mail,
.err-taken-password {
    display: none;
    color: #f01f37;
    width: 100%;
    float: left;
    text-align: right;
    margin-bottom: 10px;
}

#register .inner .register-btn {
    margin-top: 40px;
    text-transform: uppercase;
}

#register .inner .checbox-wrapper .terms-cbx-label {
    text-align: center;
}

#register .inner .checbox-wrapper .terms-cbx-label div {
    display: inline-block;
    vertical-align: middle;
}

#register .inner .checbox-wrapper .terms-cbx-label div span {
    text-decoration: underline;
    text-transform: uppercase;
}

#register .inner input[type=checkbox]+label::before {
    content: '';
    display: inline-block;
    border-radius: 3px;
    margin: 0 0.5em;
    width: 12px;
    height: 12px;
    vertical-align: middle;
    border: 2px solid;
    color: #ffffff;
}

#register .inner input[type=checkbox]:checked+label::before {
    color: #f01f37;
    /*background-image: radial-gradient(circle closest-side at center, #FF3A1C 0%, #FF3A1C 50%, #FFFFFF 51%, #FFFFFF 100%);*/
}

.inner h1 {
    margin-bottom: 50px;
}

.inner h1 img {
    width: 80%;
    height: auto;
    margin: 0 auto;
}

.inner p {
    padding: 0 5%;
    font-size: 18px;
    text-align: left;
    color: #333;
}

.inner button {
    margin-top: 40px;
    text-transform: uppercase;
}

.page .header .button {
    display: none !important;
}

.ressetForm {
    display: none;
}

#profile .box-element {
    width: 84%;
    float: left;
    padding: 2% 8%;
}

.box-element-inner {
    width: 100%;
    float: left;
}

.top-section {
    width: 100%;
    overflow: auto;
    float: left
}

#profile .box-element div {
    width: 100%;
    color: #333;
    font-weight: 700;
    float: left;
    text-align: left
}

#profile .box-element label {
    position: relative;
    color: #78909c;
    display: block;
    margin-bottom: 15px;
    cursor: pointer;
    padding-right: 30px;
    float: left;
    padding: 0;
    width: 30%;
}

#profile .box-element label:before {
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    border: 2px solid #78909c;
    float: left;
    margin: -3px 5px 0 0;
}

#profile .box-element.radio label:before {
    border-radius: 100%;
}

#profile .box-element input {
    display: none;
}

.top-section .id,
.top-section .token,
.top-section .category_id {
    display: none;
}

.saveprofile {
    float: left;
    width: 92%;
    padding: 3% 2%;
    margin: 2%;
}

.popup-feedback {
    width: 100%;
    float: left;
    position: fixed;
    top: 0;
    text-align: center;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
}

.popup-feedback .popup-feedback-inner {
    padding: 5% 0;
    padding-top: 14%;
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
    align-items: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
}

.popup-feedback .popup-feedback-inner .fa {
    font-size: 24px;
    margin-right: 10px;
}

.box-element-profile {
    width: 100%;
    float: left;
    height: 200px;
    position: relative;
    margin-bottom: 5px;
    ;
}

.profile-iamge {
    width: 100%;
    float: left;
    background-size: cover !important;
    background-position: center center !important;
    overflow: hidden;
    float: none;
    background-repeat: no-repeat !important;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.profile-iamge-inner {
    width: 100px;
    position: relative;
    height: 100px;
    margin: 0 auto;
    margin-top: 20px;
    overflow: hidden;
    border-radius: 100%;
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-color: #fff !important;
}

.image-bttns {
    width: 100%;
    float: left;
    position: absolute;
    bottom: 0;
}

.change-iamge {
    float: left;
    position: relative;
    background: #0096d9;
    color: #ffffff;
    border-radius: 20px;
    float: left;
    width: 42%;
    padding: 2%;
    margin: 2%;
}

.remove-image {
    float: left;
    position: relative;
    width: 42%;
    padding: 2%;
    margin: 2%;
    background: #f01f37;
    color: #ffffff;
    border-radius: 20px;
    width: 42%;
    padding: 2%;
    margin: 2%;
}

.addImage {
    position: relative;
    background: #0096d9;
    color: #ffffff;
    border-radius: 20px;
    width: 42%;
    padding: 2%;
    margin: 2% auto;
    border: 1px solid #fff;
}

.box-element-profile img {
    width: 100%;
}

.disabled-btn{
    pointer-events: none;
    background-color: #0096d973 !important;
}
