.admin-tabs .nav-link.active {
    border-bottom: 2px solid #f48020;
    color: #f48020;
}
.admin-tabs .nav-link {
    display: block;
    padding-top: 15px;
    padding-bottom: 5px;
    text-align: center;
    color: #9d8270;
}