.fa {
    -webkit-transition: all 0.5s; /* Safari */
    transition: all 0.5s;
}

.fa.rotate-180 {
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Safari 3-8 */
    transform: rotate(180deg);
}