.card-label {
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
    text-align: center;
    padding: 15px 0;
    color: #f48020;
    font-size: 1rem;
}


/*MODAL*/

.modal .close {
    border: none;
    background: none;
    font-size: 29px;
    font-weight: bold;
    text-align: right;
}