.text-input,
.form-control {
    border: none;
    background-color: #ffffff;
    box-shadow: none;
    color: #f48020;
    border-radius: 0;
    font-size: 1.5rem;
}

.form-control {
    padding: 5px 0;
    line-height: 1.2;
}

select.form-control {
    padding: 5px 40px 5px 0;
}

.text-input {
    line-height: 1.3;
}

.form-control:focus {
    padding: 5px 0;
    outline: 0;
    box-shadow: none;
    color: #495057;
    border-radius: 0;
    border-color: #f1daee;
    border-bottom: 1px solid #9d8270;

}

.form-search .input-group-prepend > .input-group-text {
    border: none;
    border-radius: 20px 0 0 20px;
    background-color: #f5f5f5;
}

.form-search > .form-control {
    border-radius: 0 20px 20px 0;
    background-color: #f5f5f5;
    box-shadow: none;
}

.select-wrap {
    position: relative;
}

select::-ms-expand {
    display: none;
}

.required-field.select-wrap:after {
    content: "\f054";
    font: normal normal normal 16px/1 FontAwesome;
    color: #9d8270;
    opacity: 0.5;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 11px;
    bottom: 5px;
    padding: 0 0 2px;
    position: absolute;
    pointer-events: none;
}

.select-wrap:after {
    content: "\f054";
    font: normal normal normal 16px/1 FontAwesome;
    color: #9d8270;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 11px;
    bottom: 5px;
    padding: 0 0 2px;
    position: absolute;
    pointer-events: none;
}

.form-group label {
    display: inline-block;
    padding: 0;
}

.checkbox {
    -webkit-appearance: checkbox;
    -moz-appearance: checkbox;
    appearance: checkbox;
}

.list-settings input {
    position: relative;

}

.form-check-label {
    width: 100%;
}

.textarea-feedback {
    border-radius: 4px;
    border: none;
    background-color: #FFFFFF;
    resize: none;
    width: 100%;
    height: 90vh;
}

.textarea-feedback::-webkit-input-placeholder {
    font-family: monospace;
}

.textarea-feedback:-ms-input-placeholder {
    font-family: monospace;
}

.textarea-feedback:-moz-placeholder {
    font-family: monospace;
}

.textarea-feedback::-moz-placeholder {
    font-family: monospace;
}

.textarea-unmatch-description {
    padding: 10px;
    width: 100%;
    resize: none;
    height: 100px;
    border: none;
    border-top: 1px solid #cccccc;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    font-size: 1rem;
    box-shadow: none !important;
}

label.btn {
    display: inline-block;
    text-align: center;
    padding: 30% 0;
}

label.btn input {
    position: absolute;
    visibility: hidden;
}

select:invalid {
    color: #9d8270 !important;
    opacity: 0.5 !important;
}

select.form-control:not([size]):not([multiple]) {
    height: 30px;
}

.questions-textarea {
    resize: none;
    height: 100px;
    font-size: 1rem;
    font-family: "poppinslight", sans-serif;
}

#register .inner input[type=checkbox].checkbox-appearance {
    appearance: checkbox;
    -moz-appearance: checkbox;
     -webkit-appearance: checkbox;
    display: block;
}

.search-box {
    margin: 55px 0 0px 0;
    width: 100%;
    font-size: 15px;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: black;
}

.disabled_match_request{
    pointer-events: none;
}