.img-error {
    background-color: #afbec7;
    text-align: center;
    overflow: hidden;
}

.img-error .fa {
    font-size: 1.875rem; /*30px*/
    padding: 50px 0;
    color: #ffffff;
}

.avatar-img.avatar-img--lg {
    width: 160px;
    height: 160px;
    position: relative;
}
.wrap-avatar-img--xlg,
.avatar-img.avatar-img--xlg {
    width: 220px;
    height: 220px;
    position: relative;
}
.avatar-img.avatar-img--sm {
    width: 65px;
    height: 65px;
    position: relative;
}

.img-error.img-error--xlg .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 6rem;
    color: #ffffff;
}

.img-error.img-error--lg .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4rem; /*64px*/
    color: #ffffff;
}

.img-error.img-error--sm .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem; /*32px*/
    color: #ffffff;
}

.header-logo--plovdiv img{
    display: inline-block;
    width: 56%;
}


.bg-baloon {
    background-image: url(../images/baloon-sm.svg);
    background-position: top left;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #ffffff;
}

.full-page .bg-baloon {
    background-repeat: repeat;
    background-size: contain;
}

.img-wrap {
   background-color: #d8d8d8;
    border-radius: 7px;
}

.list .img-wrap {
    border-radius: 7px;
    width: 80px;
    height: 80px;
    overflow: hidden;
}

.bg-map {
    background-image: url(../images/Card/map/snazzy-image-11.jpg);
    background-position: top left;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #ffffff;
    width: 100vw    ;
    height: 100vh;
}

.avatar-wrap--bg.img-wrap {
    position: relative;
    padding: 20px;
}

.avatar-wrap--bg .avatar-wrap {
    background-image: url(../../slideout/images/avata_demo-img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}

.blur-layout {
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    border-radius: 0;
    -webkit-filter: blur(6.2px);
    filter: blur(6.2px);
    opacity: 0.5;
}

.avatar-wrap--bg .avatar-img {
    position: relative;
    margin: 0 auto;
}

.img-avatar {
    background-color: #f48020;
    color: #FFFFFF;
}

.sent-request .avatar-img {
    border: 4px solid #00628d;
}
.matches-item.disabled {
    opacity: 0.3;
    pointer-events: none;
}

.avatar-label {
    position: absolute;
    width: 60px;
    height: 60px;
    background: #f48020;
    border-radius: 50%;
    color: white;
    font-size: 16px;
    display: flex;
    align-items: center;
    z-index: 1;
    justify-content: center;
    top: 10px;
    left: 0;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.25);
}

.filter-darken {
    webkit-filter: brightness(40%) grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: brightness(40%) grayscale(100%);
}