.label {
    font-size: 1.125rem;
    color: #ffffff;
    padding: 15px 0;
    text-align: center;
    text-transform: uppercase;
}

.label-red {
    background-color: #f20e53;
}

.label-purple {
    background-color: #a0088b;
}

.label-green {
    background-color: #77db35;
}

.label-right {
    border-radius: 8px 0 0 8px;
}

.label--sm {
    padding: 10px 10px;
    font-size: 1rem;
    text-transform: capitalize;
}