@import "../../../libs/bootstrap-4.1.0-dist/css/bootstrap-grid.min.css";

.wrap-block > *+*  {
    margin-top: 15px;
}

.wrap-block--25 > *+*  {
    margin-top: 25px;
}

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.align-baseline {
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
}


.section-carousel.slick-dotted.slick-slider {
    margin-bottom: 50px;
}

.footer--fixed {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px;
    background-color: #ffffff;
    text-align: right;
    box-shadow: 0 -3px 21px 0 rgba(0, 0, 0, 0.15);
}

.full-page.content {
    padding-top: 0 !important;
}


.full-page .container{
    min-height: 100vh;
}

.flex-1 {
    flex: 1;
}

.right-chevron--abs {
    position: absolute;
    top: 0;
    right: 13px;
    color: #9d8270;
}

.full-vh {
    min-height: 100vh;
}

.full-vh .container {
    height: 100vh;
}