.list-services>li {
    margin-bottom: 3%;
}

.list-services i {
    margin-right: 5px;
}

.list-services .link:hover {
    color: #a0088b;
}

.list-settings li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 15px;
    background-color: #ffffff;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.14);
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.list-settings li:hover {
    box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.4);
}

.list-decimal {
    list-style-type:decimal;
}

li.wrap-block > *+* {
    margin-top: 10px;
}

.matches-item_title {
    height: 34px;
}

.matches-item_text {
    height: 34px;
}
