.inner .hidden,
#register .inner .hidden,
#login .inner .hidden {
    display: none;
}


#register .inner input[type=checkbox] {
    display: none;
}



.err-taken-mail,
.err-taken-password {
    display: none;
    color: #f01f37;
}


.page .header .button {
    display: none !important;
}


.ressetForm {
    display: none;
}

#profile .box-element input {
    display: none;
}

.top-section .id,
.top-section .token,
.top-section .category_id {
    display: none;
}



.inner .fb-login-btn,
#register .inner .fb-login-btn,
#login .inner .fb-login-btn {
    background: #3b5b96;
}



.disabled-btn{
    pointer-events: none;
    opacity: 0.5;
}

#login-popup .modal-dialog{
    bottom: 40% !important;
}


