.matches-item > .row > [class^="col-"] {
    padding-right: 5px;
    padding-left: 5px;
}

.matches-item > .row {
    justify-content: space-around;
}

.match-percent {
    font-family: 'poppinsregular', sans-serif;
}

.wrap-list-items .col-auto:first-child {
    min-width: 18%;
    padding-right: 0;
    padding-left: 0;
}