#welcome-question .card {
    margin: 6% 0;
    padding: 10% 0;
    border-radius: 10px;
    border: solid 2px #a0088b;
    text-align: center;
}

.welcome_question_card .card-title {
    margin-bottom: 2.5%;
}

.welcome_question_card-origin {
    background-color: #a0088b;
}

.welcome_question_card-origin:hover,
.welcome_question_card-origin:active {
    background-color: #ffffff;
}

.welcome_question_card-origin:hover .card-title,
.welcome_question_card-origin:active .card-title,
.welcome_question_card-origin:hover .card-text,
.welcome_question_card-origin:active .card-text {
    color: #a0088b;
}

.welcome_question_card-reverse {
    background-color: #ffffff;
}

.welcome_question_card-reverse:hover,
.welcome_question_card-reverse:active {
    background-color: #a0088b;
}

.welcome_question_card-reverse:hover .card-title,
.welcome_question_card-reverse:active .card-title,
.welcome_question_card-reverse:hover .card-text,
.welcome_question_card-reverse:active .card-text {
    color: #ffffff;
}


.welcome-question_header {
    padding: 5% 0;
    text-align: center;
}
