#slideout {
    background-image: url(../images/slideout-bg.svg);
    background-position: top left;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: #ffffff;
}

.avatar-wrap_img {
    margin: 9% auto 0;
    position: relative;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #d8d8d8;
}


.avatar-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
}

.avatar-wrap_img-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px !important;
    color: #a0088b;
}

.notification-balloon {
    width: 40px;
    height: 40px;
    background-color: #d8d8d8;
    color: #ffffff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    right: -5px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
}

.notification-balloon.notification-balloon--active {
    background-color: #e8171e;
}
.notification-balloon.notification-balloon--active:hover {
    background-color: #be141a;
}

.notification-balloon_counter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.25em;
}

.slide_menu {
    padding-top: 12%;
}


.slide_menu li a {
    font-family: "axiformalight", sans-serif;
    font-weight: 300;
    color: #2e2e2e;
    padding: 4.8% 5px 4.8% 15px;
    line-height: 1;
    font-size: 1.375rem;
    text-transform: capitalize;
}

#slideout li {
    text-transform: capitalize;
}

.slide_menu li a:hover,
.slide_menu li a:active {
    font-family: "axiformabold", sans-serif;
    color: #a0088b;
}

.slide_menu .fa {
    margin-right: 10px;
}


/*================================*/


#slideout li.active a {
    font-family: "axiformabold", sans-serif;
    color: #a0088b;
}

.slideout_call {
    color: #60636a;
    border-color: #60636a;
    background: rgba(0, 0, 0, 0);
}



