.bg-loader {
    background: url('../../appCore/images/splash-sandboxx.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.splash-logo {
    position: absolute;
    width: 70%;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.inner .ip-header{
    z-index: 9999999;
}