.tab-content > .tab-pane {
    display: none;
}

.fade {
    opacity: 0;
    transition: opacity .15s linear;
}

.tab-content {
    padding-bottom: 75px;
    padding-top: 40px;
}

.tab-content > .active {
    display: block;
}

.fade.show {
    opacity: 1;
}

.tab-panel--fixed .tabs-fluid {
    position: fixed;
    width: 100%;
    background-color: #ffffff;
    z-index: 1;
}

.tab-panel--fixed .tab-content {
    padding-top: 53px;
}


.tabs-fluid .nav-link {
    margin-bottom: 1px;
    border-bottom: 2px solid #d1d1d1;
    padding: 15px 0;
    text-align: center;
    text-transform: capitalize;
}


.tabs-fluid .nav-link.active {
    margin-bottom: 0;
    border-bottom: 4px solid #a0088b;
    text-align: center;
}

.wrap-nav-tabs {
    position: fixed;
    width: 100%;
    background: white;
    z-index: 9999;
    top: 0;
    left: 0;
}

/**
 * 12-05-2020
*/
.tab-pane-content {
    padding-bottom: 0px !important;
    padding-top: 0px !important;
}

.tab-pane-mymatches {
    padding-bottom: 0px !important;
    padding-top: 0px !important;
}

.mt-90 {
    margin-top:90px;
}