#notifications .borderTemplate{
    border-color: #0096d9;
}

#notifications .colorTemplate{
    color: #0096d9;
}

#notifications .textColorButton{
    color: #0096d9;
}

#notifications .no_nofications{
    color: #0096d9;
}

#notifications .popup_notifications .tittle{
    color: #0096d9;
}

#notifications .description{
    color: #0096d9;
}

#notifications .open_popup{
    background: #ffffff;
}

#notifications .open_popup.noWiew{
    background: #fff7b0;
}

#notificationsSettings .notifications-settings-title{
    background: #0096d9;
    border-bottom: 1px solid;
    border-color: #0096d9;
}

#notificationsSettings .settings-days + label{
    color: #3e3e3e;
}

#notificationsSettings .settings-days input[type="checkbox"]:checked + label{
    color: #0096d9;
    border-color: #3e3e3e;
}

#notificationsSettings .settings-categories td{
    color: #0096d9;
}

#notificationsSettings .settings-categories .active td {
    color: #0096d9;
}

.notifications-settings-save{
    background: #0096d9;
    color: #ffffff;
}

.popup_notifications{
    background: rgba(255, 255, 255, 0.8);;
}

