/*Notifications*/

#notifications .box_notifications {}


/*COLOR THEME*/

#notifications .borderTemplate {
    border-color: #000;
}

#notifications .backgroundTemplate {
    background: red;
}

#notifications .colorTemplate {
    color: #184e2e;
}

#notifications .textColorButton {
    color: #fff;
}

#notifications .no_nofications {
    color: #fff;
}


/*END COLOR THEME*/

/*#notifications {
    background: #2f2f2f;
}*/

#notifications .box_notifications {
    background: #2f2f2f;
}

#notifications .left, .welcome .left {
    width: 20%;
    text-align: center;
    float: none;
}

#notifications .left .icon {
    width: 70%;
    margin-left: 10%;
}

#notifications .left .icon img {
    width: 100%;
}

#notifications .center {
    width: 55%;
}

#notifications .right {
    width: 13%;
    text-align: center;
}

#notifications .right div {
    border: 2px solid;
    border-radius: 40px;
    width: 23px;
    height: 22px;
    font-size: 20px;
    margin-left: 21%;
    line-height: 22px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

#notifications.ios .right div {
    line-height: 22px;
    font-family: 'Open Sans' !important;
}

#notifications tr {
    width: 100%;
    padding: 6% 0;
    display: table;
    -webkit-box-shadow: 0px 1px 10px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 1px 10px 1px rgba(0,0,0,0.2);
    box-shadow: 0px 1px 10px 1px rgba(0,0,0,0.2);
}

#notifications td {
    vertical-align: middle;
}

#notifications .open_popup {
    cursor: pointer;
    background: #fff;
    min-height: 70px;
}

#notifications .description {
    white-space: pre-line;
    -webkit-box-shadow: 5px 5px 15px -4px rgba(0,0,0,0.5);
    -moz-box-shadow: 5px 5px 15px -4px rgba(0,0,0,0.5);
    box-shadow: 5px 5px 15px -4px rgba(0,0,0,0.5);
    color: #353535;
    background: rgb(255,247,176);
}

#notifications .tittle {
    font-size: 18px;
    font-weight: 600;
    color: #7a7a7a;
}
#notifications .fa.fa-chevron-right {
    color: #7a7a7a;
    font-size: 25px;
}
#notifications i.fa.fa-times {
    width: 30px;
    height: 30px;
    font-size: 21px;
    line-height: 29px;
    background: white;
    border-radius: 50%;
    text-align: center;
    box-sizing: border-box;
}

#notifications .date {
    color: #959595;
    font-size: 100%;
    padding-top: 3%;
    padding-bottom: 2%;
}
#notifications .date i.fa {
    margin-right: 2%;
}
#notifications .date img {
    width: 8px;
}


/*POP UP*/

.addTitleMarginTop {
    margin-top: 14% !Important;
}

.popup_notifications {
    /* position: absolute; */
    top: 100%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 20;
    display: none;
    cursor: pointer;
}

iframe {
    height: 100%;
}

#iframe_notifications {
    position: absolute;
    top: 100%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    display: none;
    cursor: pointer;
    left: 0;
    z-index: 20;
}

#notifications .noWiew {
    background: #fff7b0;
}

.noWiew {
    background: #fff7b0;
}

.box_notification {
    background: #fff;
    border-radius: 5px;
    width: 90%;
    margin: 2% 3% 0 3%;
    position: absolute;
    position: fixed;
    top: 100%;
    display: none;
    z-index: 20;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.box_notification .icon, .welcome .icon {
    height: 50px;
    width: 50px;
    text-align: center;
    margin: 0 auto;
    position: relative;
    top: -21px;
}
.box_notification .icon {
    position: relative;
    left: auto;
    z-index: 20;
    width: 30%;
    margin-top: 15%;
    margin-bottom: 25px;
}

.welcome_talbe .icon {
    position: inherit;
}

.box_notification .icon img, .welcome .icon img {
    width: 100%;
}
.box_notification .icon img {
    /* position: absolute; */
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.box_notification .imgPush, .welcome .imgPush {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    max-height: 180px;
}

.box_notification .imgPush img, .welcome .imgPush img {
    width: 100%;
}

.box_notification .tittle, .welcome .tittle {
    width: 98%;
    padding: 2%;
    text-transform: uppercase;
    margin-top: -5px;
    position: relative;
    z-index: 10;
    text-align: center;
    font-weight: 900;
    font-size: 18px;
}

.box_notification .description, .welcome .description {
    width: 95%;
    padding: 3% 4%;
    margin: 2%;
    background: #fff7b0;
    box-shadow: 0px 6px 22px -14px;
    margin-bottom: 10px;
    border-radius: 6px;
    font-family: 'Open Sans', sans-serif;
    white-space: pre-line;
    box-sizing: border-box;
}

.welcome_talbe .description, .welcome .description {
    background: #fff7b0 !important;
    margin-bottom: 0;
    -webkit-box-shadow: 0px 3px 10px 1px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 3px 10px 1px rgba(0,0,0,0.3);
    box-shadow: 0px 3px 10px 1px rgba(0,0,0,0.3);
}

.box_notification .date {
    color: #959595;
    font-size: 10px;
    padding-left: 3%;
    padding-bottom:2%;
}

.box_notification .date img {
    width: 8px;
}

.box_notification .buttonOk, .welcome .buttonOk {
    width: 92%;
    padding: 3% 2%;
    margin: 2%;
    border-radius: 6px;
    text-align: center;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    display: block;
}

.box_notification .buttonOk img, .welcome .buttonOk img {
    max-height: 20px;
    position: absolute;
    left: 5px;
    top: 23%;
}


/*Facebook Button*/

.box_notification .fb_img, .welcome .fb_img {
    width: 40%;
    margin: 3% auto;
    height: 20%;
    display: block;
    overflow: hidden;
    height: 67px;
    margin-bottom: 6%;
}

.box_notification .fb_img img, .welcome .fb_img img {
    height: 100%;
}

.box_notification .fb {
    width: 96%;
    margin-bottom: 8px;
    background: #3a589b;
    color: #fff !important;
    height: 50px;
    padding: 5% 2% 8% 2%;
    font-size: 17px;
    box-sizing: border-box;
}


/*ADS CLOSE*/

.popup_notifications .closeAds, .box_notification .closeAds {
    position: absolute;
    right: -13px;
    top: -12px;
    z-index: 10;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: white;
    text-align: center;
    font-size: 20px;
    line-height: 28px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.box_notification .closeAds img {
    width: 100%;
}

.box_notification .show_img_icon {
    position: relative;
    z-index: 20;
    width: 30%;
    margin-top: 15%;
}

.box_notification .show_img_closeAds {
    position: absolute;
    right: -15px;
    top: -14px;
}

.box_notification .show_img_tittle2 {
    background: url('../images/white_shadow.png');
    background-size: 100%;
    background-position: 0px 130%;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    background-repeat: no-repeat;
    top: 0;
}

/* notifications settings button */
#notifications .header_page{
    position: relative;
}

#notifications .notifications-settings-button{
    position: absolute;
    right: 0;
    background-image: url(../images/notifications-settings-icon.png);
    background-repeat: no-repeat;
    background-size: 17px;
    background-position: left center;
    top: 0;
    bottom: 0;
    margin: auto;
    padding-left: 27px;
    padding-right: 5px;
    text-align: right;
    cursor: pointer;
    line-height: 29px;
}
/* notifications settings button */

/* notifications settings page*/
#notificationsSettings .content{
    padding-bottom: 35px;
}

#notificationsSettings .inner{
    color: #000000;
}

#notificationsSettings .settings-days input[type="checkbox"], #notificationsSettings .settings-categories input[type="checkbox"]{
    display: none;
}

#notificationsSettings .settings-days label{
    display: inline-block;
    width: 8%;
    margin: 0 0.5%;
    padding: 1% 2%;
    color: #97ddfd;
    cursor: pointer;
    border: solid 2px transparent;
    text-transform: capitalize;
    text-align: center;
    font-size: 14px;

}

#notificationsSettings .settings-days input[type="checkbox"]:checked + label{
    color: #1699d6;
    border: solid 2px #1699d6;
    border-radius: 16px;
}

#notificationsSettings .notifications-settings-title{
    text-align: center;
    padding: 7%;
    box-shadow:none;
    background: #f7fbfc;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(167, 218, 242, 0.35);
    box-shadow: 0px 2px 5px 0px rgba(167, 218, 242, 0.35);
}

#notificationsSettings .notifications-settings-title+div{
    margin: 20px auto;
}

#notificationsSettings .settings-categories table{
    width: 100%;
}

#notificationsSettings .settings-categories td{
    color: #818181;
    padding: 1%;
}

#notificationsSettings .settings-categories td:first-child{
    width: 90%;
}

#notificationsSettings .settings-categories td+td{
    text-align: center;
    /*vertical-align: middle;*/
}

#notificationsSettings .settings-categories .active td{
    color: #1699d6
}

#notificationsSettings .settings-categories label{
    width: 50px;
    height: 27px;
    display: block;
    cursor: pointer;
    background-image: url(../images/notifications-settings-on-off-sprite.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0 -27px;
}

#notificationsSettings .settings-categories input[type="checkbox"]:checked + label{
    background-image: url(../images/notifications-settings-on-off-sprite.png);
    background-position: 0 0;
}

.notifications-settings-save{
    position: fixed;
    bottom: 0;
    height: 35px;
    line-height: 35px;
    width: 100%;
    background: #1699d6;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    cursor: pointer;
}

/* Settings saved msg */
.notification-settings-status-popup {
    width: 93%;
    position: absolute;
    top: 0;
    min-height: 50px;
    background: rgba(0, 0, 0, 0.9);
    color: #ffffff;
    margin: auto;
    left: 0;
    right: 0;
    padding: 2%;
    z-index: 15;
    display: none;    cursor: pointer;
}

.notification-settings-status-popup-img {
    margin-top: 5px;
}

.notification-settings-status-popup-img img {
    display: block;
    width: 8%;
    margin: auto;
}

.notification-settings-status-popup-text {
    margin-top: 15px;
    text-align: center;
}
/* End of settings saved msg */
/* End of added product msg */
/* end notifications settings page*/
/*END NOTIFICATIONS*/
