.header_page{
    color: #fff;
    background: #0096d9;
    font-family: 'OpenSansRegular' sans-serif;
    text-transform: uppercase;
    width: 96%;
    padding: 2%;
    text-align: center;
    background-size: 100%;
    position: relative;
    z-index: 10;
}

.no-information{
    color: #0096d9;
}

.header_page:first-of-type{
    position: fixed;
    top: 0;
}

.content{
    padding-top: 29px !important;
}

